body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: var(--c-text-light-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import url("~leaflet/dist/leaflet.css");

/* -----------------------------------------globals--------------------------------------------------- */

:root {
  --clr-primary-0: #ffffff;
  --clr-primary-1: #ecf4d6;
  --clr-primary-2: #d9e8ad;
  --clr-primary-3: #c7dd85;
  --clr-primary-4: #b4d15c;
  --clr-primary-5: #a1c633;
  --clr-primary-6: #819e29;
  --clr-primary-7: #61771f;
  --clr-primary-8: #404f14;
  --clr-primary-9: #20280a;
  --clr-primary-10: #20280a;
  --clr-secondary-0: #d6cccc;
  --clr-secondary-1: #ad9999;
  --clr-secondary-2: #856666;
  --clr-secondary-3: #5c3333;
  --clr-secondary-5: #330000;
  --clr-secondary-6: #240000;
  --clr-secondary-7: #1f0000;
  --clr-secondary-8: #140000;
  --clr-secondary-9: #0a0000;
  --clr-secondary-10: #000000;
  --c-text-light-1: #2c3e50;
  --c-text-light-2: #476582;
  --c-text-light-3: #90a4b7;
  --radius: 0.5rem;

  --toastify-color-progress-light: linear-gradient(
    to right,
    var(--clr-primary-7),
    var(--clr-primary-2)
  );
}

.btn-primary {
  --bs-btn-bg: var(--clr-primary-5); /* New background color */
  --bs-btn-border-color: var(--clr-primary-5); /* New border color */
  --bs-btn-hover-bg: var(
    --clr-primary-7
  ); /* Optional: change hover background color */
  --bs-btn-hover-border-color: #0d6a2e; /* Optional: change hover border color */
  --bs-btn-active-bg: #0d6a2e; /* Optional: change active background color */
  --bs-btn-active-border-color: #0c5c2d; /* Optional:   /* Disabled button styles */
  --bs-btn-disabled-bg: #6c757d; /* Disabled background color */
  --bs-btn-disabled-border-color: #6c757d; /* Disabled border color */
  --bs-btn-disabled-color: #ffffff; /* Disabled text color */
}
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  color: var(--clr-primary-7);

  pointer-events: none;
  background-color: var(--clr-primary-3);
  border-color: var(--clr-primary-7);
  opacity: var(--bs-btn-disabled-opacity);
}
.btn-outline-primary {
  --bs-btn-color: var(--clr-primary-5);
  --bs-btn-border-color: var(--clr-primary-5);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--clr-primary-5);
  --bs-btn-hover-border-color: var(--clr-primary-5);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--clr-primary-5);
  --bs-btn-active-border-color: var(--clr-primary-5);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--clr-primary-5);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--clr-primary-5);
  --bs-gradient: none;
}
.btn-link {
  --bs-btn-color: var(--clr-primary-5); /* New text color */
  --bs-btn-hover-color: var(
    --clr-primary-7
  ); /* Optional: change hover text color */
  --bs-btn-active-color: #0c5c2d; /* Optional: change active text color */
  --bs-btn-disabled-color: #6c757d; /* Adjust as needed */
  --bs-btn-focus-shadow-rgb: 49, 132, 253; /* Keep focus shadow RGB if needed */
  /* You can also adjust other properties if needed */
}
.form-control:focus {
  color: var(--clr-primary-5); /* New text color */
  background-color: #ffffff; /* Optional: change background color if needed */
  border-color: var(--clr-primary-5); /* New border color */
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--clr-primary-2); /* Adjust shadow color */
}
.form-control:disabled {
  background-color: var(--clr-primary-1) !important;
  opacity: 1;
}
.primary-green {
  color: var(--clr-primary-5);
}
.form-select {
  color: var(--clr-primary-8);
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--clr-primary-3);
  border-radius: var(--bs-border-radius);
}
.form-select:disabled {
  background-color: var(--clr-secondary-0);
}
/* .form-select {
  border: var(--bs-border-width) solid var(--clr-primary-5);
} */
.form-select:focus {
  border-color: var(--clr-primary-5);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--clr-primary-2);
}
.form-check-input:checked {
  background-color: var(--clr-primary-5);
  border-color: var(--clr-primary-5);
}

.form-check-input:focus {
  border-color: var(--clr-primary-6);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--clr-primary-3);
}
.form-check-input:active {
  background-color: var(--clr-primary-5);
  border-color: var(--clr-primary-5);
}
.form-wrapper {
  padding-bottom: 3rem;
}
.keyboard-open .form-wrapper {
  /* height: auto !important; */

  background-color: red;
  height: auto !important;
}
.text-primary {
  color: var(--clr-primary-5) !important;
}
a {
  color: var(--clr-secondary-3);
}

ul li {
  list-style-type: none;
}
ul {
  padding: 0;
}
.lower-case {
  text-transform: lowercase;
}
.section-page {
  /* height: 90vh; */
  height: 100vh;
  padding-bottom: 4rem;
  /* overflow: scroll; */
}
.section-full-page {
  height: 100vh;
}
.section-full-page {
  overflow-y: scroll;
  background: #f0f1f1;
}
.section-background {
  background: #f0f1f1;
}
.plants-container {
  /* overflow: scroll; */
  background: #f0f1f188;
}
.section-center {
  width: 90%;
  margin: 0 auto;
  max-width: 1768px;
}
.section-center.single-plant {
  max-width: 768px;
}
.section-title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 3rem;
  padding-top: 1rem;
}
h1,
h2,
h3 {
  color: var(--c-text-light-1);
}
.bg-success {
  background-color: #0f7f32 !important;
}
.bg-warning {
  background-color: #ff9900 !important;
}
.form-control {
  color: var(--clr-primary-8);
  border: var(--bs-border-width) solid var(--clr-primary-3);
}
.text-dark {
  --bs-text-opacity: 1;
  /* color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important; */
  color: var(--clr-secondary-2) !important;
}
hr {
  color: var(--clr-secondary-3);
}
.back-container {
  /* border: 1px solid red; */
  background-color: #fff;
  height: 3rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #f1f1f1;
}
.back-container .back-btn {
  text-align: right;
  padding-right: 5vw;
}
.back-btn {
  text-align: right;
}
.menu-section-center {
  padding-top: 3rem;
}
.page-link {
  color: var(--clr-primary-5);
}
.page-link:hover {
  color: var(--clr-secondary-3);
}
@media screen and (min-width: 992px) {
  .section-large {
    width: calc(100% - 20rem);
    padding-bottom: 0;
    height: 100vh;
  }
  .section-center-map {
    padding-top: 3rem;
    margin-left: 20rem;
  }

  /* .section-large {
    margin-left: 300px;
    width: calc(100% - 300px);

  }
  .section-large.map {
    padding-top: 3rem;
  }
  .back-container {
    display: none;
  }

  .section-map-page {
    width: calc(100% - 300px);
    margin-left: 300px;
  }
  .section-center {
    width: 90vw;
  }
  .offcanvas.offcanvas-top {
    left: 300px;
  } */
}
@media screen and (max-width: 992px) {
  .back-btn {
    padding-top: 1rem;
  }
  .section-page {
    width: 100%;
  }
}

/*----------------------------------------- login section----------------------------------------------- */

.resume-input {
  border: none;
  width: 25%;
}
/*----------------------------------------- login section----------------------------------------------- */
.logo-container {
  width: 3rem;
}

/* small.text-muted.ms-3.form-text {
  margin-left: 0px !important;
  display: block;
  margin-top: 1rem;
}
element {
} */
.login-form small {
  margin-left: 0.75rem !important;
  font-size: 0.75rem;
}
.btn-small {
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .form-container {
    min-width: 40vw;
    padding: 3rem;
    border: 2px solid var(--clr-primary-2);
  }
  small.text-muted.ms-3.form-text {
    margin-left: 1rem !important;
    display: inline-block;
    margin-top: 2rem;
  }
}
.toastify-registration-succeed {
  background-color: var(--clr-primary-3);
  color: var(--clr-secondary-7);
}
.showHidePassword {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
}
.showHidePasswordIcon {
  font-size: 1.275rem;
  color: var(--clr-secondary-3);
}
.showHidePasswordReview:hover {
  cursor: pointer;
}
.pag {
  color: var(--clr-secondary-2);
}
/* ----------------------sidebar-------------------------------------*/
.sidebar-logo {
  width: 10.5rem;
}
/* .sidebar-section.list-group {
  --bs-list-group-color: var(--clr-secondary-3) !important;
} */
.nav-pills svg,
.nav-pills span {
  font-size: 1.25rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: var(--bs-list-group-item-padding-y)
    var(--bs-list-group-item-padding-x);
  color: var(--bs-list-group-color);
  /* padding-left: 0; */
  text-decoration: none;
  background-color: var(--bs-list-group-bg);
  border: var(--bs-list-group-border-width) solid
    var(--bs-list-group-border-color);
}
.list-group-item svg {
  color: var(--clr-secondary-2);
  font-size: 1.375rem;
}
.nav-link.text-truncate {
  display: flex;
  align-items: center;
  height: 2rem;
}
/* ---------------------------------------------map section------------------------------------------------------------ */
/* .map {
  width: 80%;
} */
.map-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .map-section {
    width: 80%;
  }
}
.map {
  flex: 1;
}
.leaflet-container {
  width: 100%;
  height: 100%;
}
.leaflet-container a {
  color: #ffffff;
}
.leaflet-popup-content {
  max-width: 50vw;
}
.bottom-bar {
  background-color: #fff;
  box-shadow: 0 -4px 8px #0003;
  z-index: 1000;
  position: fixed;
  width: 100%;
  /* height: 10vh; */
  bottom: 0;
}
.bottom-bar ul > li {
  height: 4rem;
}
/* @media screen and (max-width: 992px) {
  .bottom-bar {
    height: 10vh;
  }
} */
@media screen and (min-width: 992px) {
  .bottom-bar {
    background-color: #fff;
    box-shadow: 0 -4px 8px #0003;
    z-index: 1000;
    position: absolute;
    width: 60%;
    height: 3rem;
    bottom: 0;
    margin: 0 auto;
    left: calc(5% + 20rem);
    top: 0;
  }
}
@media screen and (min-width: 1760px) {
  .bottom-bar {
    background-color: #fff;
    box-shadow: 0 -4px 8px #0003;
    z-index: 1000;
    position: absolute;
    width: 60%;
    height: 3rem;
    bottom: 0;
    margin: 0 auto;
    left: calc(10% + 20rem);
    top: 0;
  }
}

.bottom-bar .fs-5 {
  border-top: 2px solid var(--clr-secondary-0);
  /* height: 100%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* .bottom-bar .fs-5 {
  border-top: 2px solid var(--clr-secondary-0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
} */
/* .bottom-bar .test {
  border-top: 2px solid var(--clr-primary-5);
} */

/* tree */
.leaflet-container .leaflet-marker-pane img {
  width: 74px;
}
/* buttons */
.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--clr-primary-5);
  --bs-btn-border-color: var(--clr-primary-5);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--clr-primary-6);
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  /* --bs-btn-active-color: #fff; */
  --bs-btn-active-color: transparent;
  --bs-btn-active-bg: #146c43;
  --bs-btn-active-border-color: #13653f;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--clr-primary-5);
  --bs-btn-disabled-border-color: var(--clr-primary-5);
}
.rightButtons {
  top: 2rem;
  right: 1.275rem;
  z-index: 1000;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 992px) {
  .rightButtons {
    top: 7rem;
  }
}
.rightButtons path {
  color: var(--clr-secondary-2);
}
.leftButton {
  top: 2rem;
  left: 1.275rem;
  z-index: 1000;
  position: relative;
}
@media screen and (max-width: 992px) {
  .rightButtons {
    top: 2.5rem;
  }
  .leftButton {
    top: 2.5rem;
    left: 1.275rem;
    z-index: 1000;
    position: relative;
  }
  .plant-section {
    width: 100%;
  }
}
.test1 {
  position: absolute;
  z-index: 0;
  left: -1.1rem;
  top: -1.2rem;
}
.map-logo {
  width: 2.5rem;
}
.circle-button {
  border-color: transparent !important;
}

.circle-button.filter-plants-button {
  background-color: #fff;
  outline: 1px solid;
  /* border-color: #37708d;
  border-color: #6b8f00; */
}
.circle-button.filter-plants-button.filter-booked {
  outline: 2px solid #37708d;
  /* border-color: #37708d;
  border-color: #6b8f00; */
}
.circle-button.filter-plants-button.filter-approved {
  outline: 2px solid #6b8f00;
}

/* bottom bar */
.bottom-bar a {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
  padding-bottom: 0.5rem;
}
.underline {
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--clr-primary-6);
}
@media screen and (min-width: 992px) {
  .underline {
    top: 3rem;
    height: 3px;
  }
  .bottom-bar a {
    padding-bottom: 0;
  }
  .bottom-bar .fs-5 {
    height: 100%;
  }
}
.avatar {
  background-color: var(--clr-primary-5) !important;
  color: var(--clr-secondary-2) !important;
}
.avatar:hover {
  cursor: pointer;
}

/* add plant button */
.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: var(--clr-primary-5); /* Change color as needed */
  color: white !important; /* Icon color */
  text-decoration: none; /* Remove underline */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}
.menu-button {
  background-color: #fff;
  color: var(--clr-secondary-2) !important; /* Icon color */
  border: none;
}

.circle-button:hover {
  background-color: white; /* Darker shade on hover */
  color: var(--clr-primary-5) !important;
  /* transform: scale(1.1);  */
}
.menu-button:hover {
  background-color: var(--clr-primary-5); /* Darker shade on hover */
  color: #fff !important;
  /* transform: scale(1.1);  */
}

.circle-button svg {
  width: 24px; /* Icon size */
  height: 24px; /* Icon size */
}
.btn-link.change-pic {
  color: var(--clr-primary-5);
}

/* .leaflet-pane :nth-child(2) {
  z-index: 567 !important;
} */
.leaflet-marker-icon {
  z-index: 566 !important;
}
.leaflet-marker-icon[src*="ti pianto per amore"] {
  z-index: 567 !important;
}

.card.logreg {
  --bs-card-border-width: 0;
}

/* .add-plant-manual {
  display: none;
}
@media screen and (min-width: 992px) {
  .add-plant-manual {
    display: flex;
  }
} */

/* ----------------------------------------------------Loading.css--------------------------------------------- */

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  width: 100vw; /* Full screen width */
  background-color: #f9f9f9; /* Optional background color */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; /* Ensures it is on top of other elements */
}
.loading-container-mini {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background-color: #f9f9f9; 
  position: fixed; */
  margin-top: 2rem;
}

.loading-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinner styling */
.spinner {
  position: absolute;
  width: 140px;
  height: 140px;
  border: 8px solid rgba(0, 0, 0, 0.1); /* Light border */
  border-top: 8px solid var(--clr-primary-5); /* Spinner color */
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  z-index: 0; /* Spinner behind the logo */
}

.loading-logo {
  width: 40px; /* Adjust the size of the logo */
  height: auto;
  z-index: 1; /* Ensures the logo stays on top of the spinner */
}
/* Spinner styling */
.spinner {
  position: absolute;
  width: 110px;
  height: 110px;
  border: 8px solid rgba(0, 0, 0, 0.1); /* Light border */
  border-top: 8px solid var(--clr-primary-5); /* Spinner color */
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  z-index: 0; /* Spinner behind the logo */
}
@media screen and (max-width: 992px) {
  .loading-logo {
    width: 30px; /* Adjust the size of the logo */
  }
  .spinner {
    position: absolute;
    width: 90px;
    height: 90px;
    border: 5px solid rgba(0, 0, 0, 0.1); /* Light border */
    border-top: 5px solid var(--clr-primary-5); /* Spinner color */
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    z-index: 0; /* Spinner behind the logo */
  }
}

.loading-logo-mini {
  width: 40px; /* Adjust the size of the logo */
  height: auto;
  z-index: 1; /* Ensures the logo stays on top of the spinner */
}

/* Spinner styling */
.spinner-mini {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid rgba(0, 0, 0, 0.1); /* Light border */
  border-top: 5px solid #0f7f32; /* Spinner color */
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  z-index: 0; /* Spinner behind the logo */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-loader-container {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}
.cf-Btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.cf-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* HTML: <div class="loader"></div> */
.login-loader {
  height: 4px;
  /* margin-bottom: 0.375rem; */
  width: 100%;
  --c: no-repeat linear-gradient(var(--clr-primary-5) 0 0);
  background: var(--c), var(--c), var(--clr-secondary-0);
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}

/* ------------------------------------------------menu------------------------------------------------- */
/* Add this CSS to your styles */

.offcanvas.show {
  display: block; /* Ensure it is displayed when showing */
}
/* ------------------------------------------------legend section------------------------------------------- */

.legend-icon {
  font-size: 1.5rem;
}
.plants-list {
  margin-bottom: 1rem;
}
.legend-image {
  min-width: 3rem;
  height: 3rem;
  border: 3px solid;
  display: inline-block;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.legend-image.approved {
  border-color: #6b8f00;
}
.legend-image.icon {
  border-color: #2c3e50;
}
.legend-image.pending {
  border-color: #995c00;
}
.legend-image.rejected {
  border-color: #b32400;
}
.legend-image.booked {
  border-color: #37708d;
}
.legend-image img {
  width: 1rem;
}
.legend-box-container {
  display: flex;
  align-items: center;
}
.legend-description {
  padding-left: 1rem;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}

/* #99cc00 99CC00	8AB800	7AA300	6B8F00	5C7A00	4D6600	3D5200	2E3D00	1F2900	0F1400	000000 */
/* FF9900	E68A00	CC7A00	B36B00	995C00	804D00	663D00	4C2E00	331F00	190F00	000000*/
/*FF3300	FF3300	E62E00	CC2900	B32400	991F00	801A00	661400	4C0F00	330A00	190500	000000 */

/*-------------------------------plant section----------------------------- */
.plant-section {
  height: 100vh;
  position: relative;
  overflow-y: scroll;
}
.plate-info-pic.list-group-item {
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.plate-info-pic.list-group-item {
  border-top: none;
}
.btn-outline-info {
  --bs-btn-color: var(--clr-primary-5);
  --bs-btn-border-color: var(--clr-primary-5);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: var(--clr-primary-5);
  --bs-btn-hover-border-color: var(--clr-primary-5);
  --bs-btn-focus-shadow-rgb: 13, 202, 240;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: var(--clr-primary-5);
  --bs-btn-active-border-color: var(--clr-primary-5);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--clr-primary-5);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--clr-primary-5);
  --bs-gradient: none;
  /* background-color: var(--clr-primary-5);
  border-color: var(--clr-primary-5); */
}

@media screen and (max-width: 768px) {
  .card-plant-info2 {
    border: none !important;
  }
}
/* .plant-picture {
  border: 2px solid var(--clr-primary-5);
  width: 10rem;
  height: 10rem;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 2rem;
} */
.info-image {
  /* display: block; */
  /* position: relative; */
  height: 100%;
  object-fit: cover;
}

/* .info-plant {
  display: grid;
  place-items: center;
} */
.info-plant-container {
  display: flex;
  border: 2px solid var(--clr-primary-1);
  border-radius: var(--radius);
  align-items: center;
}
.image-plant-box {
  /* border: 2px solid red; */
  /* width: 10rem; */

  height: 15rem;
  padding: 1rem;
  /* display: flex;
  align-items: center; */
  /* position: relative; */
}
.info-plant-box {
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  padding: 1rem;
}
.approvedPlant {
  color: var(--clr-primary-6);
}
.rejectedPlant {
  color: #dc3545;
}
.pendingPlant {
  color: #f29100;
}
.bookedPlant {
  color: #4fa0ca;
}
.copy-icon,
.copy {
  /* color: var(--clr-primary-4) !important; */
  color: var(--clr-secondary-2) !important;
  cursor: pointer;
}
.copy-icon {
  font-size: 1.15rem !important;
}
.placeholder-image {
  width: 100%;
}
.plate-info-pic {
  /* margin: 0; */
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  max-width: 30rem;
}
.card-plant-info2 {
  --bs-card-border-radius: var(--bs-border-radius) !important;
}

.plant-form-article {
  padding-bottom: 3rem;
}
.flex-md-row.card-plant-info1.card {
  max-width: 25rem;
}
@media screen and (min-width: 768px) {
  .flex-md-row.card-plant-info1.card {
    max-width: 100%;
  }
  .card-plant-info1 .plant-info-image {
    max-width: 50%;
  }
  .card-plant-info1 .card-img-bottom {
    border-top-right-radius: var(--bs-card-inner-border-radius);
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: 0px;
  }
  .plant-section .card > .list-group {
    border-bottom: none;
  }

  .card-plant-info1 .list-group-flush.list-group {
    width: 50%;
    --bs-list-group-border-color: none;
    justify-content: center;
  }
  .plant-section .list-group-flush.list-group {
    --bs-list-group-border-color: none;
    justify-content: center;
  }
  .card-plant-info2 .plant-info-text {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .card-plant-info2 .plant-info-image {
    width: 50%;
  }
  .plate-info-pic {
    /* margin: 0; */
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
}
.textPlateContainer {
  min-height: 5rem;
}
.textPlate {
  height: 100% !important;
  max-width: 25rem;
}
/* -----------------rejection modal------------------ */
.rejection-modal {
  width: 100vw;
  height: 100vw;
  background-color: red;
}

/* -----------------segnalaci buca------------------ */

.back-btn svg {
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--clr-primary-4);
}
.back-btn svg:hover {
  color: var(--clr-primary-6);
  cursor: pointer;
}

/* plant image */
.plant-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: var(--bs-modal-padding);
}
/* le mie segnalazioni */

.bg-pending {
  background-color: #ff9900 !important;
}
.bg-rejected {
  background-color: #ff3300 !important;
}
.bg-approved {
  background-color: #99cc00 !important;
}
.bg-booked {
  background-color: #4fa0ca !important;
}
/* immagine piantina */
.modalePiantina .modal-body {
  flex: 1 1 auto;
  padding: 0 !important;
  position: relative;
  height: 70vh !important;
}

.info-plant-container + i {
  justify-self: left;
}

.plant-info-image {
  height: 50vh;
  width: 100%;
  max-height: 30rem;
  max-width: 35rem;
  background-position: center;
  background-size: cover;
}
/* plate */

.plate-container {
  margin: 0 auto;
  border: 2px solid var(--clr-primary-1);
  border-radius: var(--radius);
}
.plate-image {
  padding: 1rem;
}
.plate-image img {
  border-radius: var(--radius);
}

.plates-gallery {
  display: grid;
  grid-template-columns: 1fr;
}
.sliders-img {
  display: block;
  width: 80%;
  height: 10rem;
  /* background-image: url("https://media.istockphoto.com/id/816752606/photo/tv-test-card-or-test-pattern-generic.jpg?s=612x612&w=0&k=20&c=63Jcx_5bFnvBw9elRDLrLKjtDYXr70pKtUK0jXJ2_uY="); */
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  color: var(--clr-secondary-3);
  width: 1rem;
  height: 5rem;
  position: absolute;
  z-index: 1000;
}
.slick-arrow.slick-prev:before,
.slick-arrow.slick-next:before {
  color: var(--clr-secondary-3);
}
.slick-arrow.slick-prev {
  left: 5px;
}
.slick-arrow.slick-next {
  right: 5px;
}
.slick-dots {
  bottom: -5rem !important;
}
.slick-dots li {
  height: 0 !important;
}
/* .slick-dots li {
} */
.slick-dots li button::before {
  font-family: "slick";
  font-size: 20px !important;
  line-height: 10px !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: var(--clr-secondary-2) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .slick-dots li button::after {
  font-family: "slick";
  font-size: 20px !important;
  line-height: 10px !important;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: var(--clr-secondary-3) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
.slick-dots .slick-active button::before {
  color: var(--clr-primary-5) !important;
}
/* .slick-dots li button {
  border: 2px solid red !important;
  border-radius: 50% !important;
} */
.slide-plate {
  height: 35vh;
  width: 90%;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #856666;
  border-radius: 1rem;
  background-position: left;
}
@media screen and (min-width: 458px) {
  /* .plates-gallery {
    grid-template-columns: 1fr 1fr;
  } */
  /* .slide-plate {
    width: 60%;
    height: 30vh;

  } */
}
@media screen and (max-width: 577px) {
  .fancybox__toolbar__column.is-right {
    padding-top: 2rem;
  }
  .slide-plate {
    width: 80%;
    /* height: 25vh; */
  }
}

.plates-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.plate-img {
  width: 80%;
  max-width: 18rem;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .plate-img {
    width: 50%;
    max-width: 25rem;
  }
}
@media screen and (min-width: 992px) {
  .plate-img {
    width: 50%;
    max-width: 35rem;
  }
}

/* filters */

.form-check-input {
  margin-bottom: 0.4rem !important;
}
.filter-plant {
  width: 5%;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
/* 
.offcanvas-body {
  flex-grow: 1;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  overflow-y: visible !important;
}
.filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
/* .offcanvas {
  bottom: 0;
} */
/* owned plants / my plants cards */

.card-my,
.card-plant-info1,
.card-plant-info2 {
  border: 1px solid var(--clr-primary-3);
}
.card-header:first-child {
  border-radius: 0 var(--bs-card-inner-border-radius) 0 0;
}
.card-header:first-child {
  border-top-left-radius: 0 !important;
}
@media screen and (max-width: 767px) {
  .plant-info-text {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
  }
  .placeholder-image {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
  }
}
.my-plants-card-header,
.card-my .card-header {
  background-color: var(--clr-primary-1);
}
.card-img .image-my,
.card-img-bottom .image-my,
.card-img-top .image-my,
.image-my {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  object-fit: cover;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}
.card-image-container {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border-top: 1px solid var(--clr-primary-3);
  border-bottom: 1px solid var(--clr-primary-3);
  border-left: 1px solid var(--clr-primary-3);
}
.card-my {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.list-group {
  /* --bs-list-group-border-color: var(--clr-primary-0); */
  --bs-list-group-border-color: var(--clr-primary-3);
}
/* profile modal */
.profile-modal .modal-dialog {
  position: relative;
  width: 70vw;
  margin: var(--bs-modal-margin);
  pointer-events: none;
  margin-left: auto;
  margin-right: 1.6rem;
  margin-top: 5rem;
}

@media screen and (min-width: 576px) {
  .profile-modal .modal-dialog {
    max-width: var(--bs-modal-width);
    margin-left: auto;
    margin-right: 1.6rem;
    margin-top: 5rem;
    --bs-modal-width: 400px;
  }
}

/* user profile */
@media screen and (min-width: 992px) {
  .back-container.profile {
    display: block;
  }
}

/* contatti */

.contacts-social-icon a {
  color: var(--clr-secondary-3);
  font-size: 2rem;
}
.contacts-social-icon {
  color: var(--clr-secondary-3);
  font-size: 1.25rem;
}
.contacts-location-icon {
  color: var(--clr-secondary-3);
  font-size: 2rem;
}

/* error page */

.error {
  /* font: normal 100%/1.15 "Merriweather", serif; */
  background-color: var(--clr-primary-2);
  color: #fff;
  z-index: 100000;
  position: absolute;
  width: 100%;
}

/* .error {
  position: relative;
  max-width: 1298px;
  height: auto;
} */

.error .box {
  /* max-width: 85%; */
  min-height: 100vh;
  /* margin: 0 auto; */
  padding: 1em 1em;
  text-align: center;
  background: url("https://www.dropbox.com/s/xq0841cp3icnuqd/flame.png?raw=1")
      no-repeat top 10em center/128px 128px,
    transparent
      url("https://www.dropbox.com/s/w7qqrcvhlx3pwnf/desktop-pc.png?raw=1")
      no-repeat top 13em center/128px 128px;
}

.error h1,
.error p:not(:last-of-type) {
  text-shadow: 0 0 6px var(--clr-primary-7);
}

.error h1 {
  margin: 0 0 1rem 0;
  font-size: 8em;
  color: var(--clr-primary-6);
}

.error p {
  margin-bottom: 0.5em;
  font-size: 3em;
}

.error p:first-of-type {
  margin-top: 4em;
}

.error p > a {
  border-bottom: 1px dashed var(--clr-primary-7);
  font-style: italic;
  text-decoration: none;
  color: var(--clr-primary-5);
}

.error p > a:hover {
  text-shadow: 0 0 6px var(--clr-primary-7);
}

.error p img {
  vertical-align: bottom;
}
@media screen and (max-width: 768px) {
  .error-face {
    display: none;
  }
}
/* users */

.section-users .list-group-item + .list-group-item {
  border-top-width: 1px;
}
.section-users .list-group-item:first-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.section-users .list-group-item:last-child {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
/* sidebar */
.sidebar-large {
  position: fixed;
  width: 20rem;
  /* min-width: 15rem; */
  top: 0;
  left: 0;
  /* width: var(--bs-offcanvas-width); */
  border-right: var(--bs-offcanvas-border-width) solid
    var(--bs-offcanvas-border-color);
  bottom: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;

  color: var(--bs-offcanvas-color);
  visibility: visible;
  background-color: var(--bs-offcanvas-bg);
  background-clip: padding-box;
  outline: 0;
  /*  */
  top: 0;
  left: 0;
  /* width: var(--bs-offcanvas-width); */
  border-right: var(--bs-offcanvas-border-width) solid
    var(--bs-offcanvas-border-color);
  /*  */
  --bs-offcanvas-zindex: 1045;
  /* --bs-offcanvas-width: 300px; */
  --bs-offcanvas-height: 30vh;
  --bs-offcanvas-padding-x: 1rem;
  --bs-offcanvas-padding-y: 1rem;
  --bs-offcanvas-color: var(--bs-body-color);
  --bs-offcanvas-bg: var(--bs-body-bg);
  --bs-offcanvas-border-width: var(--bs-border-width);
  --bs-offcanvas-border-color: var(--bs-border-color-translucent);
  --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
  --bs-offcanvas-transition: transform 0.3s ease-in-out;
  --bs-offcanvas-title-line-height: 1.5;
}

@media screen and (max-width: 992px) {
  .offcanvas-header {
    padding-top: 2.5rem;
  }
}
.sidebar-active,
.sidebar-active > svg {
  color: var(--clr-primary-6);
}
.sidebar-active:hover {
  color: var(--clr-primary-6);
}

/* Return page */

#success\ d-flex\ flex-column\ justify-content-center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Chat */

.section-chat,
.section-plates {
  overflow: hidden !important;
}
.sender {
  color: var(--clr-primary-5);
}
.receiver {
  color: var(--clr-secondary-5);
}
.message.receive {
  text-align: left;
}
.message.sender {
  text-align: right;
}

.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

body {
  background-color: #f9f9fa;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}

.padding {
  padding: 3rem;
}

.box.box-warning {
  border-top-color: var(--clr-primary-5);
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
  background-color: var(--clr-primary-5) !important;
}

.bg-yellow {
  color: #fff !important;
}

#button-addon2 {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
}

.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

.direct-chat .box-body {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  /* overflow-x: hidden; */
  padding: 0;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
  height: 70vh;
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}

.direct-chat-messages {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  padding: 10px;
  height: 250px;
  height: 100%;
  overflow: auto;
}

.direct-chat-messages,
.direct-chat-contacts {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.direct-chat-msg {
  margin-bottom: 10px;
}

.direct-chat-msg,
.direct-chat-text {
  display: block;
}

.direct-chat-info {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}

.direct-chat-timestamp {
  color: #999;
}

.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 40px !important;
  height: 40px !important;
}

.direct-chat-text {
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  background: var(--clr-secondary-0);
  border: 1px solid var(--clr-secondary-0);
  margin: 5px 0 0 50px;
  color: #444;
}

.direct-chat-msg,
.direct-chat-text {
  display: block;
}

.direct-chat-text:before {
  border-width: 6px;
  margin-top: -6px;
}

.direct-chat-text:after,
.direct-chat-text:before {
  position: absolute;
  right: 100%;
  top: 15px;
  border: solid transparent;
  border-right-color: var(--clr-secondary-0);
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
}

.direct-chat-text:after {
  border-width: 5px;
  margin-top: -5px;
}

.direct-chat-text:after,
.direct-chat-text:before {
  position: absolute;
  right: 100%;
  top: 15px;
  border: solid transparent;
  border-right-color: var(--clr-secondary-0);
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.direct-chat-msg:after {
  clear: both;
}

.direct-chat-msg:after {
  content: " ";
  display: table;
}

.direct-chat-info {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}

.right .direct-chat-img {
  float: right;
}

.direct-chat-warning .right > .direct-chat-text {
  background: var(--clr-primary-5);
  border-color: var(--clr-primary-5);
  color: #fff;
}

.right .direct-chat-text {
  margin-right: 50px;
  margin-left: 0;
}

.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #fff;
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: -1px;
}

.btn-warning {
  color: #fff;
  background-color: var(--clr-primary-5);
  border-color: var(--clr-primary-5);
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.chat-footer-info {
  border-radius: 0;
}
/* informazioni */

.section-info ul {
  padding-left: 1rem;
}
.section-info .info-list ul li {
  list-style-type: disc;
}

.accordion {
  --bs-accordion-color: #282921;
  --bs-accordion-bg: var(--bs-body-bg);
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-btn-color: var(--c-text-light-1);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem var(--clr-primary-2);
  --bs-accordion-active-color: var(--clr-primary-7);
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--clr-primary-1);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: var(--bs-accordion-border-width) solid var(--clr-primary-3);
}
.modal-delete-btn {
  color: #dc3545;
}

/* Chi siamo */

.single-logo {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container .single-logo img {
  /* border: 1px solid red; */
  height: 150px;
  display: flex;
  align-items: center;
}
.logo-background {
  display: block;
  width: 6rem;
  height: 6rem;
}
.logo-city {
  background: url("../src/assets/images/layout_set_logo.png") no-repeat center;
  background-size: cover;
  width: 7rem;
  height: 7rem;
}

.logo-dona {
  background: url("../src/assets/images/donalogo.jpg") no-repeat center;
  background-size: cover;
  width: 7rem;
}
.logo-verner {
  background: url("../src/assets/images/logoverner.jpg") no-repeat center;
  background-size: cover;
  width: 7rem;
}

/* steps */

.steps-section {
  margin: 5rem 0;
}
.step-container {
  max-width: 3rem;
  position: relative;
}
.step-box {
  width: 4rem;
  height: 4rem;
  border: 3px solid var(--clr-primary-5);
  border-radius: 50%;
  background-color: var(--clr-primary-1);
}
.step-box {
  font-size: 2rem;
  color: var(--clr-secondary-3);
}
.step-container:not(:last-child):before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 2rem;
  border-top: 3px dotted var(--clr-secondary-2);
  left: calc(100% + 0.7rem);
  top: 1.75rem;
}
@media screen and (min-width: 400px) {
  .step-container:not(:last-child):before {
    width: 7rem;
  }
}
@media screen and (min-width: 500px) {
  .step-container:not(:last-child):before {
    width: 8rem;
  }
}
@media screen and (min-width: 640px) {
  .step-container:not(:last-child):before {
    width: 9.5rem;
  }
}
@media screen and (min-width: 768px) {
  .step-container {
    max-width: 8rem;
  }
  .step-container:not(:last-child):before {
    width: 12rem;
    left: 75%;
  }
}
.step-title {
  font-size: 1.5rem;
  color: var(--clr-secondary-3);
}

.slick-list {
  min-height: 50vh;
}

/* booked plant */

.copiato {
  top: 1.5rem;
  right: 0.2rem;
  font-size: 0.867rem;
}
.no-wrap {
  white-space: nowrap;
}
.contacts-social-icon:hover {
  cursor: pointer;
}
.test-temp {
  font-size: 0.1rem !important;
}

.bg-map {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
}

.login-container,
.access-container {
  max-width: 70%;
}
.separator {
  /* background-color: red; */
  border: 1px solid var(--clr-primary-5);
}

.plant-intro-text,
.plate-info,
.plant-payment-info {
  padding: 0.5rem;
  background: #f0f1f19a;
  border: 1px solid var(--clr-primary-5);
  border-radius: 5px;
}
@media screen and (min-width: 992px) {
  .bg-map {
    width: calc(100% - 20rem);
    left: 20rem;
  }
  .plants-container {
    overflow-y: scroll;
    position: fixed;
    width: calc(100% - 20rem);
    left: 20rem;
  }
  .page-large-container {
    overflow-y: scroll;
    position: fixed;
    width: calc(100% - 20rem);
    left: 20rem;
  }
  .separator {
    /* background-color: red; */
    display: none;
  }
}

.terms-section h1,
.terms-section h2,
.terms-section h3 {
  text-transform: uppercase;
}
